[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
sklearn = "*"
lime = "*"

[dev-packages]
jupyterlab = "*"
"autopep8" = "*"
jupyterlab-code-formatter = "*"

[requires]
python_version = "3.7"
